<style type="text/css">
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 801; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: absolute;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.5s;
        animation-name: animatetop;
        animation-duration: 0.5s;
        top: 40%;
        max-width: 600px;
        left: 0;
        right: 0;
        border-radius: 15px;
    }

    .modal-header {
        background-color: #fcf7ed;
    }

    .modal-header h2 {

        color: white !important;
    }

    .modal-body {
        padding: 2px 16px;
        max-height: 400px;
        overflow-y: auto;
    }

    .modal-footer {
        padding: 10px 10px 10px 10px;
    }

    .modal-body {
        padding: 10px 10px 10px 10px;
    }

    .modal-body tbody th, tbody td {
        border: black 1px solid;
    }

    .form-control label {
        font-size: 18px;
    }

    .form-control input {
        font-size: 18px;
    }


</style>

<div id="shipping_address_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Please enter your shipping address
                </h2>
            </div>
            <div class="modal-body">
                <div class="shipping_address_form_container">

                    <div class="form-control">
                        <label for="checkout_shipping_address_zip">
                            Postal code
                        </label>
                        <input placeholder="Postal code" type="text"
                               name="checkout[shipping_address][zip]"
                               id="checkout_shipping_address_zip">
                    </div>

                </div>
            </div>
            <div class="modal-footer" style="text-align: right">
                <button type="button" class="button" data-dismiss="modal"
                        onclick="saveShippingAddressToCart();">
                    Save
                </button>
                <button type="button" class="button" data-dismiss="modal"
                        onclick="hideShippingAddressModal();">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function hideShippingAddressModal() {
        $('#shipping_address_modal').hide();
    }

    function saveShippingAddressToCart() {

        // Add shipping address to cart's attribute
        var shippingAddressAttrObj = {
            'attributes': {
                'shipping_address': {
                    'postalCode': $('#checkout_shipping_address_zip').val().trim()
                }
            }
        };

        fetch('/cart/update.js', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(shippingAddressAttrObj),
        }).then(response => {
            hideShippingAddressModal();
            alert('Successfully add the shipping address to the cart\'s attributes !');
        }).catch((error) => {
            console.error('Error:', error);
        });
    }

    function clearShippingAddressInCart() {
        var shippingAddressAttrObj = {
            'attributes': {
                shipping_address: null
            }
        };

        fetch('/cart/update.js', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(shippingAddressAttrObj),
        }).then(response => {
            alert('Successfully clear the shipping address in the cart\'s attributes !');
        }).catch((error) => {
            console.error('Error:', error);
        });
    }

</script>
