<ul class="dl-slider">
  <li>
    <img src="{{block.settings.icon | img_url: 'master'}}"  loading="lazy" width=""   height="">
    <p></p>
    <div class="heart-ico">
      <img  src="{{ 'dl-good-ico.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"> 
    </div>
  </li>
</ul>

{% schema %}
  {
    "name": "dl-good-slider",
    "blocks": [
		{
       "name": "goodSlider",
       "type": "imagewithText",
		"settings": [
            {
             "type": "image_picker",
             "id": "image",
             "label": "image"
           },
           {
             "type": "richtext",
             "id": "content",
             "label": "Description"
           }
         
		]
           
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
