<div class="about-section">
  <div class="grid grid--1-col grid--2-col-tablet">
    	<div class="grid__item">
          <img src="{{section.settings.titleimage | img_url: 'master'}}"  loading="lazy" width=""   height="">
    	</div>
        <div class="grid__item about-content">
          <h5>{{section.settings.headinglabel}}</h5>
          <h3>{{section.settings.headingtag}}</h3>
          <div class="content">
            {{section.settings.aboutDescription}}
          </div>
    	</div>
  </div>
</div>

{% schema %}
  {
    "name": "Home ABout us",
    "settings": [
        {
          "type": "image_picker",
          "id": "titleimage",
          "label": "Image"
        },
        {
          "type":"text",
          "label":"Enter heading label",
          "id": "headinglabel"
        },
        {
          "type":"text",
          "label":"Enter heading tag",
          "id": "headingtag"
        },
       {
           "type": "richtext",
           "id": "aboutDescription",
           "label": "Enter Description"
        }
   
   ],
   "presets": [
    {
      "name": "DL Home About"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
