<h5>{{section.settings.headinglabel}}</h5>

{% schema %}
  {
    "name": "Easy peasy block",
    "settings": [
					{
						"type":"text",
						"label":"Enter heading label",
						"id": "headinglabel"
					}
				],
	"blocks": [
     {
       "name": "Easy block",
       "type": "image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
		 {
           "type": "text",
           "id": "imageHeading",
           "label": "Enter Title"
         },
		 {
           "type": "richtext",
           "id": "imageDescription",
           "label": "Enter Description"
         }
       ]
     }
	]
  }
{% endschema %}

