<h5>{{section.settings.headinglabel}}</h5>

{% schema %}
  {
    "name": "Easy peasy block",
    "settings": [
					{
						"type":"text",
						"label":"Enter heading label",
						"id": "headinglabel"
					}
				],
	"blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
	]
  }
{% endschema %}

