<div class="share-love-blk">
    <div class="shopify-section spaced-section page-width share-love-section">
    <div class="title-img">
    <img src="{{section.settings.titleimage | img_url: 'master'}}"  loading="lazy" width=""   height="">
    </div>
    <h5>{{section.settings.headinglabel}}</h5>
    {{section.settings.description}}
    <ul class="share-slider">

    {%for block in section.blocks %}
        <li class="share-col">
        <div class="share-blk">
            <img src="{{block.settings.image | img_url: 'master'}}"  loading="lazy" width=""   height="">
        </div>
    </li>

    {%endfor%}
    </ul>
    </div>
</div>
{% schema %}
  {
    "name": "share the love",
    "settings": [
          {
           "type": "image_picker",
           "id": "titleimage",
           "label": "Image"
         },
            {
                "type":"text",
                "label":"Enter heading label",
                "id": "headinglabel"
            },
            {
            "type": "richtext",
            "id": "description",
            "label": "Enter Description"
            }
				],
	"blocks": [
     {
       "name": "Share block",
       "type": "image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
		 {
           "type": "text",
           "id": "imageHeading",
           "label": "Enter Title"
         }		 
       ]
     }
	]
  }
{% endschema %}

{% javascript %}
$('.share-slider').slick({
    infinite: true,
    speed: 500,
    slidesToShow: 7,
    slidesToScroll: 2
});
{% endjavascript %}

