.account-container{
  margin-top:100px
}
.account-container .account{
  margin-top:0;
}
.account-container .account h1{
	margin-bottom:0;
}
.account-container .account .logout{
    font-size:18px;
	color: #313131;
    text-decoration:underline;

}
.account-container .account .account-content{
  	margin:0;
}
.account-container .account .account-content h2{
	font-size:30px;
    line-height:100px;
    color: #344E38;
    margin:0;

}
.account-container .account  .account-content .account-order{
	width:100%;
    max-width:1023px;
}
.account-container .account  .account-content .account-order table{
  box-shadow: none;
}
.account-container .account  .account-content .account-order table thead tr{
 background: #D4DED3;
}
.account-container .account  .account-content .account-order table thead tr th{
    text-transform: none;
    font-size: 18px;
    color: #405343;
    font-weight: 700;
    padding-top: 1.8rem;
	padding-bottom: 1.8rem;
}
.account-container .account  .account-content .account-order table tbody tr td{
    text-transform: none;
    font-size: 18px;
    color: #000000;
    padding-top: 3rem;
	padding-bottom: 3rem;
}
.account-container .account  .account-content .account-order table td:first-of-type a{
  box-shadow:none;
  font-size:18px;
  padding:0;
}

.account-container .account  .account-content .account-address{
	width:100%;
    max-width:362px;
}
.account-container .account  .account-content .account-address .account-details{
	width:100%;
    display:inline-block;
    background:#FFFFFF;
    border: 1px solid #E8D4B0;
    padding:40px;
    border-radius:15px;
}
.account-container .account  .account-content .account-address .account-details h5{
	font-size:26px;
    font-weight:700;
    margin:0px 0px 15px;
    padding:0;
   line-height:36px;
   font-family:var(--font-body-family);
   text-transform: capitalize;
}
.account-container .account  .account-content .account-address .account-details p{
	font-size:18px;
    line-height:30px;
    margin-bottom:5px;
}

.edit-address-section .edit-address{
	display:none;
}

.account-container .account .addresses{
	max-width:inherit;
    margin:0;
    text-align:left;
}
.account-container .account .addresses .address-list li .address-col{
	background:#FFFFFF;
    border: 1px solid #E8D4B0;
    border-radius:15px;
    padding:30px 50px;
    height:100%;
    text-align:left;
}

.account-container .account .addresses .address-list li .address-col h5{
	font-size:26px;
    font-weight:700;
    margin:0px 0px 15px;
    padding:0;
   line-height:36px;
   font-family:var(--font-body-family);
   text-transform: capitalize;
}
.account-container .account .addresses .address-list li .address-col p{
	font-size:18px;
    line-height:30px;
    margin-bottom:5px;
}
.account-container .account .addresses .address-list li .address-col button{
	margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 18px;
    text-align: left;
    width: auto;
    display: inline-block;
    min-width: auto;
    margin-right: 20px;
    text-decoration: underline;
    font-family:var(--font-body-family);
    text-transform: inherit;
}

.edit-address-section{
	width:100%;
    max-width:880px
}
.edit-address-section .edit-address h2{
	font-size:30px;
    margin:0;
    padding:0;
    color: #344E38;

}
.edit-address-section .edit-address form .field{
	flex-basis: 50%;
    padding-right: 2rem;
}
.edit-address-section .edit-address form .field.phone{
	flex-basis: 100%;
    padding-right: 0;
}
.edit-address-section .edit-address form .field input, 
.edit-address-section .edit-address form .field select{
    border: 1px solid #E8D4B0;
    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: none;
    padding: 4rem 3rem 2rem 3.7rem;
   font-weight:700;
}
.edit-address-section .edit-address form .field select{
    padding: 1rem 3rem 0rem 3.7rem;
    height: 62px;
}
.edit-address-section .edit-address .field.selectbox label{
    font-size: 18px;
    top: 0.4em;
}

.edit-address-section .edit-address form .field .text-area{
    height: 170px;
    border-radius: 20px;
}
.edit-address-section .edit-address form .field label{
    font-size: 18px;
    left: 38px;
    top: 20px;
    z-index:999;
}
.edit-address-section .edit-address .field input:not(:placeholder-shown)~label{
    font-size: 18px;
    top: 0.4em;
}

.account-container .button--green{
    background: #344E38;
    color: #FFFFFF;
    box-shadow:none;
}
.account-container .button--cancel{
	border: 2px solid #E8D4B0;
    box-shadow:none;
}
.add-address-container .btn-add{
	margin:0px 0px 30px;
}

@media screen and (max-width: 749px) {
  .account-container .account .account-content h2{
  	border-bottom: 1px solid #E8D4B0;
    line-height:75px;
    margin-bottom:10px;
    color: #344E38;

  }
  .account-container .account  .account-content .account-order table tr{
  	border-bottom: 1px solid #E8D4B0;
    border-top:0;
    padding-bottom:10px;
    margin-bottom:10px;
  }
  .account-container .account  .account-content .account-order table tbody tr td{
  	padding:10px 20px;
    line-height: 28px;
  }
  .account-container .account  .account-content .account-order table tbody tr td:before{
  	font-size:18px;
    font-weight:700;
    text-transform: none;
  }
  .account-container .account .account-content .account-order table{
  	border-bottom:0;
  }
  .account-container .account .account-content .account-address h2{
    border-bottom:0;
  }
  
  .account-container .account .addresses{
  	padding:0;
  }
  .account-container .account .addresses ul li{
  	margin-top:15px;
    padding-bottom:0
  }
  .edit-address-section .edit-address form .field{
      flex-basis: 100%;
      padding-right: 0;
  }
  .account-container .button-row{
  	text-align:center;
  }
  .account-container .addresses .button-row button{
    width:100%;
    max-width:240px;
    margin:10px 0px;
    box-shadow:none;
  }
}



