.account-container{
  margin-top:100px
}
.account-container .account{
  margin-top:0;
}
.account-container .account h1{
	margin-bottom:0;
}
.account-container .account .logout{
    font-size:18px;
	color: #313131;
    text-decoration:underline;

}
.account-container .account .account-content{
  	margin:0;
}
.account-container .account .account-content h2{
	font-size:30px;
    line-height:100px;
    color: #344E38;
    margin:0;

}
.account-container .account  .account-content .account-order{
	width:100%;
    max-width:1023px;
}
.account-container .account  .account-content .account-order table{
  box-shadow: none;
}
.account-container .account  .account-content .account-order table thead tr{
 background: #D4DED3;
}
.account-container .account  .account-content .account-address{
	width:100%;
    max-width:362px;
}

