.shopify-section .whatWeDo-section{
    background: #F1ECE1;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.shopify-section .whatWeDo-section h5{
    font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: 700;
  font-size: 16px;

}

.shopify-section .whatWeDo-section .headingtag{
    font-family: var(--font-heading-family);
    font-size: 58px;
    font-weight: 400;
    max-width: 745px;
    margin: 0 auto;
    line-height: 64px;

}
.shopify-section .whatWeDo-section .headingtag p{
    margin: 20px 0px;
}