.product-card li.product-list{
    padding:  0px 10px;
    margin-bottom: 50px;
}
.product-card li.product-list .card-wrapper{
    background: #FFFFFF; 
    border: 2px solid #BBCEB9;
    border-radius: 20px;
    padding: 0;
}
.product-card li.product-list .card-wrapper .card--product{
    border: 0;
    margin: 0;
}
.product-card li.product-list .card-wrapper .card--product img{
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.product-tags-wrap{
    width: 100%;
    background: #FCF7ED;
    padding: 10px 1.5rem;

}
.product-tags-wrap ul.tags-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.product-tags-wrap ul.tags-list li{
    display: inline-block;
    border: 0;
    border-radius: 0;
    margin: 0;
    background: transparent
}
.product-tags-wrap ul.tags-list li a{
    background: #FED15D;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
    font-family:var(--font-heading-family);
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 7px;

}
.product-tags-wrap ul.tags-list li a.sale{
    background: #82BE6D;
    color: #FFFFFF;
}
.product-card li.product-list .card-wrapper .card-information .product-info{
    padding: 25px 1.5rem 35px;
    margin-top: 0;
}
.product-card li.product-list .card-wrapper .card-information h3{
    font-size: 26px;
    line-height: 29px;
    min-height: 60px;
}
.product-card li.product-list .card-wrapper .card-information h3 a{
    color: #000000;
    text-decoration: none;
}
.product-card li.product-list .card-wrapper .card-information .price{
    display: none;
}
.product-card li.product-list .card-wrapper .card-information .productbtn{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.product-card li.product-list .card-wrapper .card-information .productbtn .button{
    padding: 0.5rem 6rem;
}
.product-card-quantity{
    display: none;
}
@media screen and (max-width: 749px) {
    .featured-section h2{
        line-height: 50px;
    }
    .collection{
        padding: 0;
    }
    .featured-section .collection-slider .slick-list {
        padding:0 10% 0 0 !important;
    }
}

#product-varient{
    width: 100%;
    display: inline-block;
    padding-top: 8px;
}
#product-varient .variant-row{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
#product-varient .variant-row .variant-qty-blk{
    width: 48%;
}
#product-varient .variant-row .variant-info label{
    font-family:var(--font-heading-family);
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    text-transform: uppercase;
}
#product-varient .variant-row .variant-info .price{
    font-family:var(--font-heading-family);
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding-right: 10px;
}
#product-varient .variant-row .variant-qty-blk .btn-dl-primary{
    padding: 3px 5px;
    min-height: 1.5rem;
}
#product-varient .variant-row .variant-qty-blk .qty-selector{
    background: #E8D4B0;
    border-radius: 46px;
    display: flex;
}
#product-varient .variant-row .variant-qty-blk .qty-selector .btn{
    background: transparent;
    border: 0;
    font-size: 24px;
    padding: 0px 15px;
    cursor: pointer;
}
#product-varient .variant-row .variant-qty-blk .qty-selector .field__input{
    border: 0;
    padding: 6px 5px;
    height: auto;
    box-shadow: 0 0 0 0 ;
    text-align: center;
}