@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('quattrocentosans-regular-webfont.woff2') format('woff2'),
         url('quattrocentosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchbox_slabregular';
    src: url('kimmy_design_-_lunchboxslab_1-webfont.woff2') format('woff2'),
         url('kimmy_design_-_lunchboxslab_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ruffle_beautyregular';
    src: url('ruffle_beauty-webfont.woff2') format('woff2'),
         url('ruffle_beauty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}