@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('fonts/quattrocentosans-regular-webfont.woff2') format('woff2'),
         url('fonts/quattrocentosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}